body {
  padding-top: 50px;
}

.header {
  text-align: center;
}

footer {
  padding: 100px 0 15px;
  text-align: center;
}

.featurette-divider {
  margin: 80px 0;
}

.featurette-heading {
  line-height: 1;
  letter-spacing: -1px;
}

.shell-example {
  width: 500px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60%{
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform:rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
